@import './base.css';
body{
background: linear-gradient(to bottom, var(--white) 40%,
var(--secondary));
}
nav {
background: var(--secondary);
text-align: center;
}
h1, h2, h3, h4{
color: var(--primary);
}
header{
background: radial-gradient(circle, var(--primary) 35%,
var(--tertiary));
text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;           
  justify-content: center; 
  gap: 20px;               
}

#intro{
    text-align: center;
    font-weight: bold;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 100% dell'altezza del browser */
  margin: 0;
}

.main-content {
  flex: 1;
}

.review-title{
font-size: 20px;
color: var(--tertiary);
}
.review-content{
font-size: 18px;
color: var(--black);
}