@import './base.css';
body{
background: linear-gradient(to bottom, var(--white) 40%,
var(--secondary));
}
nav {
background: var(--secondary);
text-align: center;
}
h1, h2, h3, h4{
color: var(--primary);
}
header{
background: radial-gradient(circle, var(--primary) 35%,
var(--tertiary));
text-align: center;
}

footer{
background: radial-gradient(circle, var(--secondary) 35%,
var(--tertiary));
text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;           
  justify-content: center; 
  gap: 20px; 
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 20px 0;
}

nav ul li:not(:last-child)::after {
  content: "|";
  color: var(--black);
  margin-left: 20px; 
}

a {
  text-decoration: none;
  color: var(--black);
  display: inline-block; 
  transition: transform 0.3s ease; 
}

a:hover {
  transform: scale(1.3); 
  color: var(--primary); 
}

#intro{
    text-align: center;
    font-weight: bold;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

.main-content {
  flex: 1;
}

.review-title{
font-size: 22px;
color: var(--tertiary);
}
.review-content{
font-size: 18px;
color: var(--black);
}

#titoloIndice {
  background: var(--primary);
  font-weight: bold;
  color: var(--white);
  font-size: 20px;
  padding: 15px 0px 15px 45px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0px;
}

#indice {
  list-style: none;
  background: var(--secondary);
  margin-top: 0px;
  padding: 0px 0px 20px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#indice li {
  margin-right: 30px;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 15px;
}

.newsCard{
  background: var(--white);
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 10px;
}

.login-container {
  text-align: center;
}

th {
  text-align: left;
  color: var(--tertiary); 
  border-bottom: 2px solid var(--secondary);
  padding: 10px;
}

td {
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
  color: var(--black);
}

td a {
  font-weight: bold;
}